*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/config/release.keystore
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/migrations.xml
/.idea/other.xml
/config/release.keystore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
.kotlin/
/.idea/planningMode.xml
/.idea/inspectionProfiles/Project_Default.xml
